/* FOOTER */
#footer {
    position: relative;
}

#GiaThinhFooter {
    background-color: white
}

#backtotop {
    width: 40px;
    height: 40px;
    background-color: rebeccapurple;
    font-size: 2rem;
    line-height: 40px;
}

.footer-top-29 .row {
    padding-top: 20px;
}

.fab {
    font-size: 2rem;
}

.bg-footer {
    background-color: rgb(205, 221, 216);
}

#tnContact {
    display: flex;
}