/* HEADER */
#frameHead {
	display: flex;
	width: 100%;
	min-width: 800px;
	z-index: 10;
}

#logoArea h1,
#logoArea h2,
#logoArea h3 {
	display: inline;
	vertical-align: bottom;
}

#logo {
	position: absolute;
	top: 8px;
	left: 15px;
	text-align: left;
	height: 30px;
	line-height: 30px;
}

#logoArea {
	background: #fff url(/CapstoneJS_nhom4-master/asset/img/header/logoBG.gif) repeat-x top left;
	top: 0px;
	left: 0px;
	width: 100%;
	min-width: 800px;
	height: 68px;
}

#modelName {
	padding: 0 10px;
	color: #474747;
	font: 900 normal 20px arial, helvetica;
}

#tradeName {
	padding: 0;
	color: #474747;
	font: 16px arial, helvetica;
	margin: 0;
}

#rightArea {
	background: url(/CapstoneJS_nhom4-master/asset/img/header/headerBG.gif) repeat-x left top;
	height: 48px;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 100;
}

.headerSlope {
	width: 140px;
	display: inline;
	float: left;
}

.float-r {
	display: flex;
	float: right;

}

.float-r>a>li::after {
	content: '';
	width: 0%;
	height: 2px;
	background: #35a22c;
	display: block;
	transition: all 0.5s;
}

.float-r>a>li:hover:after {
	width: 100%;
}

.float-r>a>li {
	color: white;
	padding-right: 20px;
	padding-left: 20px;
	list-style: none;
}

#carouselId {
	height: 410px;
}