/*ADMIN PAGE*/
$admin-header-height: 60px;
$admin-sidebar-width: 50px;

.admin__header__wrapper {
    background-color: $secondaryColor;
    box-shadow: $box-shadow-normal;

}

.admin__header {
    height: $admin-header-height;
    background-color: inherit;
    justify-content: space-between;

    .logo {
        width: 200px;
        background-color: $secondaryColor;

        &>* {
            color: #fff
        }

        ;
    }

    .searchbox {
        padding: 6px;
        width: 60vw;
    }

    .searchbox input::placeholder {
        opacity: 1;
    }


}

.admin__sidebar {
    background-color: #eee;
    width: $admin-sidebar-width;
    height: 100vh;
    position: fixed;
    left: 0;

    a {
        width: $admin-sidebar-width * 0.8;
        background-color: $primaryColor;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0 10px 0;
        color: #333;
        @include center;

    }

    i {
        font-size: 1.25rem;
    }

}

.admin__main {
    #product-table-admin {

        tr,
        td {
            height: 140px;
        }
    }

    .table-responsive {
        background-color: #fff;
        width: 100%;
        h4 {
            font-weight: 600;
        }
        h4 span {
            font-weight: 500;
            color: red;
        }

        .table-title {
            background-color: #fff;
            justify-content: space-between;

            h3 {
                font-family: $primaryFont;
                color: $secondaryColor;
                font-weight: 700;
            }
        }

        img {
            width: 80px;
            height: 60px;
        }

    }

    #product-form {
        background-color: $grey;
    }

    #product-delete-form {
        background-color: $grey;
    }

    .product-group-manage {
        @include center;

        #btn-modal-edit {
            color: $primaryColor;
        }

        #btnDelete {
            color: red;
        }

        i {
            font-size: 1.25rem;
        }

        #btnUrl {
            color: $blue;
        }
    }
}
#logoArea{
    padding-top: 20px;
}